<div class="page-header">
  <%= link_to new_property_detail_category_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Property detail category
  <% end %>
  <h1>Listing property_detail_categories</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name en</th>
            <th>Name ar</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @property_detail_categories) do |property_detail_category| %>
            <td><%= property_detail_category.name_en %></td>
            <td><%= property_detail_category.name_ar %></td>
            <td><%= link_to 'Show', property_detail_category %></td>
        <td><%= link_to 'Edit', edit_property_detail_category_path(property_detail_category) %></td>
        <td><%= link_to 'Destroy', property_detail_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
