<div class="page-header">
  <%= link_to new_user_invitation_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New User invitation
  <% end %>
  <h1>Listing user_invitations</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Random key</th>
            <th>Reciever email</th>
            <th>Reciever name</th>
            <th>Company</th>
            <th>User</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @user_invitations) do |user_invitation| %>
            <td><%= user_invitation.random_key %></td>
            <td><%= user_invitation.reciever_email %></td>
            <td><%= user_invitation.reciever_name %></td>
            <td><%= user_invitation.company %></td>
            <td><%= user_invitation.user %></td>
            <td><%= link_to 'Show', user_invitation %></td>
        <td><%= link_to 'Edit', edit_user_invitation_path(user_invitation) %></td>
        <td><%= link_to 'Destroy', user_invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
