<div class="page-header">
  <%= link_to new_property_payment_plan_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Property payment plan
  <% end %>
  <h1>Listing property_payment_plans</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Total value</th>
            <th>Property</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @property_payment_plans) do |property_payment_plan| %>
            <td><%= property_payment_plan.name %></td>
            <td><%= property_payment_plan.description %></td>
            <td><%= property_payment_plan.total_value %></td>
            <td><%= property_payment_plan.property %></td>
            <td><%= link_to 'Show', property_payment_plan %></td>
        <td><%= link_to 'Edit', edit_property_payment_plan_path(property_payment_plan) %></td>
        <td><%= link_to 'Destroy', property_payment_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
