<div class="row" ng-controller="LoginController as loginController">
  <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="logo">
      <img ng-src="{{app.layout.logo}}" alt="{{app.name}}" />
    </div>
    <!-- start: alert box -->
    <div>
      <div class="alert alert-danger" role="alert" ng-repeat="alert in loginController.loginAlerts" type="{{alert.type}}">
        {{alert.msg}}
        </alert>
      </div>
      <!-- end: alert box -->
      <!-- start: LOGIN BOX -->
      <div class="box-login">
        <form name="Form" class="form-login" novalidate>
          <fieldset>
            <legend>
              <%= t('pages.Sign in to your account') %>
            </legend>
            <p>
              <%= t('pages.Please enter your name and password to log in') %>.
            </p>
            <div class="form-group" ng-class="{'has-error':Form.username.$dirty && Form.username.$invalid, 'has-success':Form.username.$valid}">
              <span class="input-icon">
                          <input type="text" class="form-control" name="username" 
                          placeholder= "<%= User.human_attribute_name('email')%>" ng-model= "loginController.userEmail" required>
                          <i class="fa fa-user" ></i>
                          <span class="error text-small block" ng-if="Form.username.$dirty && Form.username.$invalid"><%= t('pages.Username required') %></span>
              </span>
            </div>
            <div class="form-group form-actions">
              <span class="input-icon">
              <input type="password" class="form-control password" name="password" placeholder="<%= User.human_attribute_name('password')%>" ng-model= "loginController.userPassword">
              <i class="fa fa-lock"></i>
              <a class="forgot" ui-sref="login.forgot">
                <%= t('pages.I forgot my password') %>
              </a> </span>
            </div>
            <div class="form-actions">
              <div class="checkbox clip-check check-primary">
                <input type="checkbox" id="remember" value="1">
                <label for="remember">
                  <%= t('pages.Keep me signed in') %>
                </label>
              </div>
              <button ng-click="loginController.loginUser()" class="btn btn-primary pull-right">
                <%= t('pages.Login') %><i class="fa fa-arrow-circle-right"></i>
              </button>
            </div>
            <div class="new-account">
              <%= t('pages.Don\'t have an account yet') %>?
                <a ng-click='redirectService.goToRegisterationPage()'>
                  <%= t('pages.Create an account') %>?
                </a>
            </div>
          </fieldset>
        </form>
        <!-- start: COPYRIGHT -->
        <div class="copyright">
          {{app.year}} &copy; {{ app.name }} by {{ app.author }}.
        </div>
        <!-- end: COPYRIGHT -->
      </div>
      <!-- end: LOGIN BOX -->
    </div>
  </div>
  <!-- end: LOGIN -->
